#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 0.5em;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.radio-container {
  display: flex;
  gap: 0.5rem;
}
.error-message {
  color: red;
}

.entry-container {
  display: flex;
  flex-direction: column;
}
