#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.card {
  padding: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.error-message {
  color: red;
}
